<div class="form-group">
  
      <label>Upload Logo</label>
      {{imageError}}
      <div class="custom-file fileInputProfileWrap">
          <input type="file" (change)="fileChangeEvent($event)" class="fileInputProfile">
          <div class="img-space">

              <ng-container *ngIf="isImageSaved; else elseTemplate">
                 {{imageSucess}}
              </ng-container>
              <ng-template #elseTemplate>

                  <img src="./../../assets/placeholder.png" class="img-responsive">
              </ng-template>

          </div>

      </div>
      <a class="btn btn-danger" (click)="removeImage()" *ngIf="isImageSaved">Remove</a>
      <ion-button class="btn btn-primary" (click)="getAllFIles()" >Get All files </ion-button>
      <ion-button class="btn btn-danger" (click)="clearList()" >clear</ion-button>

      <ion-row  *ngIf="clicked">
          <ion-col size="8" offset="2">
             <ion-list  style="max-height:500px;overflow-y: scroll;border:1px solid black">
                    <ion-row   *ngFor="let obj of allFiles">
                
                    <ion-col size="6" style="float:left;display:flex;align-content:flex-start">
                <a (click)="showFile(obj)">{{obj?.name}}</a>  
            </ion-col>
                <ion-col size="6"*ngIf="singleImageBase64[obj.name]">
                        <img  height="100" width="100" align="right" [src]="_DomSanitizationService.bypassSecurityTrustUrl(singleImageBase64[obj.name])"/>
                </ion-col>
           
               
            </ion-row>
      </ion-list>
    </ion-col>
    </ion-row>
</div>